<?xml version='1.0' encoding='UTF-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-www-updater" version="0.1.0">
    <name>app Updater</name>
    <author>Leslie Bruder</author>
    <description>Cordova Plugin to dynamically update the app www directory.</description>
    <keywords>cordova, update, dynamic, www, public, zip</keywords>
    <engines>
        <engine name="cordova" version=">=4.0.0" />
    </engines>
    <js-module src="www/appUpdater.js" name="appUpdater">
        <clobbers target="appUpdater" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="appUpdateData">
                <param name="android-package" value="com.stickersthecat.downloader.appUpdateData" />
            </feature>
            <feature name="appDownloader">
                <param name="android-package" value="com.stickersthecat.downloader.appDownloader" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        <source-file src="src/android/appUpdateData.java" target-dir="src/com/stickersthecat/downloader" />
        <source-file src="src/android/appDownloader.java" target-dir="src/com/stickersthecat/downloader" />
    </platform>
</plugin>
